.row
  = simple_form_for(@post) do |f|
    .inputs.col-sm-5
      = f.input :title
      = f.input :description
      = f.input :links
      = f.input :tag_list

      .actions
        = f.button :submit, "Share", :class => ['btn btn-default']
