-@posts.each do |post|
  .panel.panel-default
    .panel-heading
      .panel-title
        = post.title || post.links
    .panel-body
      = link_to post.links, url_with_protocol(post.links), :target => '_blank'
      %br
    .panel-footer
      Tags:
      &nbsp;
      = raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
      .pull-right{:style => 'font-size:10px'}
        = post.user.name
        |
        = post.created_at.strftime('%d-%b-%y')
= will_paginate @posts