%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Description:
  = @post.description
%p
  %b Links:
  = link_to @post.links, url_with_protocol(@post.links), :target => '_blank'
%p
  %b Tags:
  = @post.tag_list
%p
  %b User:
  = @post.user.email
